<div class="box">
    <h3 class="title is-4">Artículos Recientes</h3>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Título</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Date.Format "02/01/2006" }}</td>
                <td>
                    {{ if .Draft }}
                    <span class="tag is-warning">Borrador</span>
                    {{ else }}
                    <span class="tag is-success">Publicado</span>
                    {{ end }}
                </td>
                <td>
                    <div class="buttons are-small">
                        <button class="button is-info" onclick="editPost('{{ .File.Path }}')">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                        </button>
                        <button class="button is-danger" onclick="deletePost('{{ .File.Path }}')">
                            <span class="icon"><i class="fas fa-trash"></i></span>
                        </button>
                    </div>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div> 